<style>
/* Pre-hide products with obvious tag attributes for instant effect */
[data-product-tags*="hidden_addon"],
[data-product-tags*="hidden-product"], 
[data-product-tags*="hidden_product"],
[data-product-tags*="bundle-addon"],
[data-product-tags*="bundle_addon"],
[data-tags*="hidden_addon"],
[data-tags*="hidden-product"],
[data-tags*="hidden_product"], 
[data-tags*="bundle-addon"],
[data-tags*="bundle_addon"] {
  display: none !important;
}
</style>

<script src="{{ 'hide-hidden-addons.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Hide Hidden Add-ons",
  "target": "body",
  "javascript": "hide-hidden-addons.js",
  "settings": [
    {
      "type": "text",
      "id": "product_selector",
      "label": "Product card selector",
      "default": "[data-product-card], .card--product, .grid__item, [data-product-id], .product-item, .product-card, .product, .product-block, [data-product], .product-grid-item, .product-list-item, .collection-item, .search-item"
    },
    {
      "type": "text",
      "id": "tags_attr",
      "label": "Attribute containing tags (comma-separated)",
      "default": "data-product-tags"
    },
    {
      "type": "checkbox",
      "id": "debug",
      "label": "Enable debug logging",
      "default": false
    }
  ],
  "enabled_on": {
    "templates": ["*"]
  }
}
{% endschema %}

<div
  data-addons-config
  data-product-selector="{{ block.settings.product_selector | escape }}"
  data-tags-attr="{{ block.settings.tags_attr | escape }}"
  data-debug="{{ block.settings.debug }}"
></div>


